<div class="border-top-thin mt-2 mt-lg-4">
  <div class="mx-auto mt-2 mb-2 mr-2 ml-2">
    <div class="flex justify-center h5 bold">
      <p class="mr-1">©  <span id="current-year"> </span><span class="border-top-thick border-right-thick border-bottom-thick border-left-thick ml-1"> Sisyphus Consulting Pvt. Ltd.</span></p>
      <p class="mr-1 prose">
        <a onclick="copyEmail()" class="copy-btn">
          Contact.
            <span class="tooltip">Click to copy email</span>
        </a>
      </p>
      <p class="mr-1 prose"> <a href="">Privacy.</a> </p>
      <p class="mr-1 prose"> <a href="/terms/">Terms.</a> </p>
    </div>
    
    <div class="flex justify-center">
      <p class="sm-width-full py-2 mb-0">
        Sisyphus Consulting is open 9a-6p IST, Monday through Friday.
      </p>
    </div>

  <script>
    document.getElementById("current-year").textContent =
      new Date().getFullYear();

      function copyEmail() {
          navigator.clipboard.writeText('contact@sisyphusconsulting.org');
          const btn = document.querySelector('.copy-btn');
          const tooltip = btn.querySelector('.tooltip');
          tooltip.textContent = 'Copied!';
          setTimeout(() => tooltip.textContent = 'Click to copy', 2000);
        }
  </script>
</div>
