<div class="prose">
  <p>
    This is the home page of a Tech &amp; Design consultancy firm: Sisyphus
    Consulting. We generate profit and impact for businesses using our tech and
    design solutions.
  </p>
  <p>
    We get it. It is confusing out there. One day you hear this solution is
    right, come next day, you hear the other one is better. And you are left at
    the mercy of solution providers with an incentive to keep things vague. We
    don't believe in making tech and design solutions more complex than they
    have to be. Because if you don't get it, or your people don't get it, the
    solution won't last long. We strongly hold on to few such principles that
    act as our compass.
  </p>
  <p>
    And by eliminating complexity, we can focus on providing robust, long-term
    solutions. Tech and design solutions co-exist with the people who create
    them, maintain them and use them.
  </p>
</div>
