<div class="prose">
  <br />
  <br />
  <p>
    This is the home page of a Tech & Design consultancy firm: Sisyphus
    Consulting.
    <span
      onclick="pronounceSisyphus()"
      style="cursor: pointer; font-size: 14px; color: #74c0fc"
    >
      (si-sə-fəs <i class="fa-sharp fa-solid fa-volume-high"> )</i>
    </span>
  </p>

  <p>
    We generate profit and impact for businesses using our tech and design
    solutions.
  </p>

  <p>We get it, it is confusing out there.</p>
  <p>
    One day you hear this solution is right, come next day, you hear the other
    one is better. And you are left at the mercy of solution providers who have
    an incentive to keep things complex.
  </p>
  <p>
    We don't believe in making tech and design solutions more complex than they
    have to be. Because if you don't get it or your people don't get it, the
    solution won't last long. Tech and design solutions co-exist with
    the people who create them, maintain them and use them.
  </p>

  <p>
    And by eliminating complexity, we can focus on providing robust, long-term
    solutions.
  </p>
</div>
