/* Type utilities */
.h0 {
  font-size: $h0-mobile;
  line-height: 1.0125;
  margin-top: 0.85em;
  word-wrap: normal; //changed from break-word

  @media (min-width: $breakpoint-lg) {
    font-size: $h0-desktop;
  }
}

.text-right { text-align: right; }

.no-underline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }

.lh-condensed { line-height: 1.25; }

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* Border utilities */
.border-bottom-thick { border-bottom: 2px solid; border-color: currentColor; }
.border-bottom-thin { border-bottom: 1px solid; border-color: currentColor; }
.border-top-thick { border-top: 2px solid; border-color: currentColor; }
.border-top-thin { border-top: 1px solid; border-color: currentColor; }
.border-0 { border: 0; }


/* Theme color utilities */
.header-background { background-color: $color-background; }
.header-border { border-color: $color-foreground; }
.header-title { color: $color-title; }
.header-text { color: $color-foreground; }
.header-social { fill: $color-foreground; }
.header-social-accent { fill: $color-dot-accent; }
.header-link:hover { color: $color-nav-link !important; } // used for navigation links on homepage
.text-accent { color: $color-text-accent; } // used for date in post list and home link

/* Layout utilities */
.container {
max-width: $container-width;
}

.col-1 { width: (1 / 12 * 100%); }
.col-2 { width: (2 / 12 * 100%); }
.col-3 { width: (3 / 12 * 100%); }
.col-4 { width: (4 / 12 * 100%); }
.col-5 { width: (5 / 12 * 100%); }
.col-6 { width: (6 / 12 * 100%); }
.col-7 { width: (7 / 12 * 100%); }
.col-8 { width: (8 / 12 * 100%); }
.col-9 { width: (9 / 12 * 100%); }
.col-10 { width: (10 / 12 * 100%); }
.col-11 { width: (11 / 12 * 100%); }
.col-12 { width: 100%; }

// Flexbox grid system to replace
// .flex-grid {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 -1rem;
// }

// .flex-col {
//   padding: 0 1rem;
// }

// .flex-col-1 { flex: 0 0 8.333333%; }
// .flex-col-2 { flex: 0 0 16.666667%; }
// .flex-col-3 { flex: 0 0 25%; }
// .flex-col-4 { flex: 0 0 33.333333%; }
// .flex-col-5 { flex: 0 0 41.666667%; }
// .flex-col-6 { flex: 0 0 50%; }
// .flex-col-7 { flex: 0 0 58.333333%; }
// .flex-col-8 { flex: 0 0 66.666667%; }
// .flex-col-9 { flex: 0 0 75%; }
// .flex-col-10 { flex: 0 0 83.333333%; }
// .flex-col-11 { flex: 0 0 91.666667%; }
// .flex-col-12 { flex: 0 0 100%; }




@media (max-width: $breakpoint-lg) {
  .sm-width-full { width: 100% !important; }
}

.block        { display: block !important; }
.inline-block { display: inline-block !important; }

.table { display: table !important; }

// .left { float: left; }
// .right { float: right; }

// .clearfix:before,
// .clearfix:after {
//   content: " ";
//   display: table
// }
// .clearfix:after { clear: both }

// .align-middle { vertical-align: middle; }

/* Padding */
.px-0 { padding-left: 0; padding-right:  0 }
.py-0 { padding-top: 0;  padding-bottom: 0 }

.px-1 { padding-left: $spacer-1; padding-right:  $spacer-1 }
.py-1 { padding-top: $spacer-1;  padding-bottom: $spacer-1 }

.px-2 { padding-left: $spacer-2; padding-right:  $spacer-2; }
.py-2 { padding-top: $spacer-2;  padding-bottom: $spacer-2; }

.px-3 { padding-left: $spacer-3; padding-right:  $spacer-3; }
.py-3 { padding-top: $spacer-3;  padding-bottom: $spacer-3; }

.px-4 { padding-left: $spacer-4; padding-right:  $spacer-4; }
.py-4 { padding-top: $spacer-4;  padding-bottom: $spacer-4; }

/* Margin */
.mx-auto { margin-left: auto; margin-right: auto; }

.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.mt-1 { margin-top: $spacer-1; }
.mr-1 { margin-right: $spacer-1; }
.mb-1 { margin-bottom: $spacer-1; }
.ml-1 { margin-left: $spacer-1; }

.mt-2 { margin-top: $spacer-2; }
.mr-2 { margin-right: $spacer-2; }
.mb-2 { margin-bottom: $spacer-2; }
.ml-2 { margin-left: $spacer-2; }

.mt-3 { margin-top: $spacer-3; }
.mr-3 { margin-right: $spacer-3; }
.mb-3 { margin-bottom: $spacer-3; }
.ml-3 { margin-left: $spacer-3; }

.mt-4 { margin-top: $spacer-4; }
.mr-4 { margin-right: $spacer-4; }
.mb-4 { margin-bottom: $spacer-4; }
.ml-4 { margin-left: $spacer-4; }

// Responsive margin
@media (min-width: 52em) {
  .mx-lg-auto { margin-left: auto; margin-right: auto; }

  .mt-lg-0 { margin-top: 0; }
  .mr-lg-0 { margin-right: 0; }
  .mb-lg-0 { margin-bottom: 0; }
  .ml-lg-0 { margin-left: 0; }

  .mt-lg-1 { margin-top: $spacer-1; }
  .mr-lg-1 { margin-right: $spacer-1; }
  .mb-lg-1 { margin-bottom: $spacer-1; }
  .ml-lg-1 { margin-left: $spacer-1; }

  .mt-lg-2 { margin-top: $spacer-2; }
  .mr-lg-2 { margin-right: $spacer-2; }
  .mb-lg-2 { margin-bottom: $spacer-2; }
  .ml-lg-2 { margin-left: $spacer-2; }

  .mt-lg-3 { margin-top: $spacer-3; }
  .mr-lg-3 { margin-right: $spacer-3; }
  .mb-lg-3 { margin-bottom: $spacer-3; }
  .ml-lg-3 { margin-left: $spacer-3; }

  .mt-lg-4 { margin-top: $spacer-4; }
  .mr-lg-4 { margin-right: $spacer-4; }
  .mb-lg-4 { margin-bottom: $spacer-4; }
  .ml-lg-4 { margin-left: $spacer-4; }
}

// Link styles for social icons
.link-social {
  text-decoration: none;
  font-weight: bold;
  line-height: 1;

  &:hover {
    text-decoration: none !important;
  }
}

// Link styles for navigation
.link-primary {
  font-weight: bold;
  text-decoration: none !important;

  &:hover {
    color: $color-primary-link;
    text-decoration: none !important;
  }
}

// Flexbox utilities

// Flex container
.flex { display: flex !important; }
.inline-flex { display: inline-flex !important; }

// Flex direction
.flex-row { flex-direction: row !important; }
.flex-row-reverse { flex-direction: row-reverse !important; }
.flex-column { flex-direction: column !important; }
.flex-column-reverse { flex-direction: column-reverse !important; }

// Flex wrap
.flex-wrap { flex-wrap: wrap !important; }
.flex-nowrap { flex-wrap: nowrap !important; }
.flex-wrap-reverse { flex-wrap: wrap-reverse !important; }

// Justify content
.justify-start { justify-content: flex-start !important; }
.justify-end { justify-content: flex-end !important; }
.justify-center { justify-content: center !important; }
.justify-between { justify-content: space-between !important; }
.justify-around { justify-content: space-around !important; }
.justify-evenly { justify-content: space-evenly !important; }

// Align items
.items-start { align-items: flex-start !important; }
.items-end { align-items: flex-end !important; }
.items-center { align-items: center !important; }
.items-baseline { align-items: baseline !important; }
.items-stretch { align-items: stretch !important; }

// Align content
.content-start { align-content: flex-start !important; }
.content-end { align-content: flex-end !important; }
.content-center { align-content: center !important; }
.content-between { align-content: space-between !important; }
.content-around { align-content: space-around !important; }
.content-stretch { align-content: stretch !important; }

// Align self
.self-auto { align-self: auto !important; }
.self-start { align-self: flex-start !important; }
.self-end { align-self: flex-end !important; }
.self-center { align-self: center !important; }
.self-baseline { align-self: baseline !important; }
.self-stretch { align-self: stretch !important; }

// Flex grow-shrink-baseline

.flex-gsb-auto { flex: auto;}
.flex-gsb-content { flex: content }

// Flex grow
.flex-grow-i { flex-grow: inherit !important;}
.flex-grow-0 { flex-grow: 0 !important; }
.flex-grow-1 { flex-grow: 1 !important; }
.flex-grow-2 { flex-grow: 2 !important; }
.flex-grow-3 { flex-grow: 3 !important; }
.flex-grow-4 { flex-grow: 4 !important; }
.flex-grow-5 { flex-grow: 5 !important; }

// Flex shrink
.flex-shrink-i { flex-shrink: inherit !important;}
.flex-shrink-0 { flex-shrink: 0 !important; }
.flex-shrink-1 { flex-shrink: 1 !important; }
.flex-shrink-2 { flex-shrink: 2 !important; }
.flex-shrink-3 { flex-shrink: 3 !important; }
.flex-shrink-4 { flex-shrink: 4 !important; }
.flex-shrink-5 { flex-shrink: 5 !important; }


// Header elements modifications
.header-container{
width: 100%;
display: flex;
justify-content: center;
}


.header-description {
  width: max-content; /* Ensure it is as long as its content only
  white-space: normal; /* Allow wrapping of text */
  overflow: visible; /* Prevent text from being clipped */
  text-align: left; /* Align text appropriately */
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Stack items vertically */
    flex-wrap: nowrap; /* Prevent wrapping issues */
  }
  
  .header-text {
    margin-left: 0;
    text-align: center;
  }

  .header-description {
    width: 100%;
    text-align: center; /* Center align text on smaller screens for better readability */
    margin-left: 0; /* Remove unnecessary left margin */
    text-wrap: wrap;
  }
}

