<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="border-bottom-thick header-border flex justify-end">
          <ul class="list-reset py-1 header-text font-smoothing flex">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li>
                <a class=" link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="header-container items-center px-2 py-3">
          <div class="flex justify-center items-center">
            <img src="/assets/sisyphus_logo.png" alt="" class="mr-1 mt-3" style="max-width: 70%; max-height: 90%;">
          </div>
          <div class="flex flex-column header-text">
            <h1 class="h0 mt-3 ml-2 header-title">{{ site.title }}</h1>
            <p class="header-description h4 lh-condensed font-smoothing py-1 ml-2 border-top-thin">{{ site.description }}
            </p>
          </div>
        </div>
        
      </header>

     

      <div class="container mx-auto px-2 py-4">
          {% include landing.html %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
